/* NAVBAR */
.stats__navbar-header {
  display: flex;
  align-items: center;
  height: 16px;
  margin-bottom: 16px;
}
.stats__navbar-back {
  display: flex;
}
.stats__navbar-back a {
  font-size: 0.8rem;
}
.stats__navbar-back-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.stats__navbar-back-cta img {
  width: 8px;
  height: auto;
  display: block;
}
/* CONTENT */
.stats {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 16px 0;
  gap: 16px;
}
.stats__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.stats h2 {
  width: 100%;
  font-size: 24px;
  margin-bottom: 16px;
}
.stats__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stats__main-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.stats__main-item:last-child {
  border-bottom: none;
}
.stats__main-item:hover {
  background-color: #f6f6f6;
}
.stats__main-item h5 {
  font-size: 18px;
  margin-bottom: 8px;
}
.stats__main-item p {
  font-size: 16px;
  margin: 0;
}
