.navbar{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap:16px;
      padding: 8px 0;
      margin-bottom: 8px;
}
/* NAVBAR HEADER */
.navbar__header{
      display: flex;
      align-items: center;
      gap:24px;
}
.navbar__back{
      display: flex;
}
.navbar__back a{
      font-size: 0.8rem;
}
.navbar__back-cta{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      
}
.navbar__back-cta img{
      width:8px;
      height:auto;
      display: block;
}

/* NAVBAR TAB */
.navbar__tab{
      display: flex;
      gap:8px;
      width: 100%;
}
.navbar__tab div{
      width:50%;
      padding: 16px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;   
}
.navbar__tab div.active{
      background-color: grey;
}
/* HISTORIQUE CONTENT */
.historique__content{
      display: flex;
      justify-content: center;
      align-items: center;
      height:80vh;
      width :100vw;
      background-color: #f6f6f6;
      transform: translateX(-16px);
}
.historique__content span{
      text-align: center;
      width: 50%;
}