/* SEARCH */
.search{
      min-height: 100vh;

}
.search__grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap:10px
}

.search__grid-item{
      display: flex;
      height: fit-content;
      border: 1px solid black;
      padding:20px;
      gap:10px
    
}
/* gestion du trajet */
.search__item-travel{
      width:35%;
      display: flex;
      justify-content: center;
      gap:16px;
      border-right: 1px solid rgb(190, 190, 190);
}
.search__item-travel-img{
      height:100%;
}
.search__item-travel-img img{
      height:100%;
      width: auto;
      object-fit:fill;
}
.search__item-travel-content{
      display: flex ;
      flex-direction: column;
      justify-content: space-between;
}


/* gestion de l'utilisateur */
.search__item-user{
      display: flex;
      flex-direction: column;
      width:60%;
      gap :10px
}
.search__user-profile{
      display: flex;
      justify-content: space-between;
}
.search__user-profile-basic{
      display: flex;
      gap : 10px ;
}
.search__user-score{
      display: flex;
      flex-direction: column;
}
.search__user-score-stars{
      height:20px;
      width:auto;
      border: 1px solid red;
}
.search__user-img{
      height:60px;
      width:60px;
      background-color: antiquewhite;
}
.search__item-content{
      width: 100%;
      border: 1px solid black;
}

.search__user-stats{
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap : 16px;
      font-size: 0.8rem;
}
.search__user-stats-item{
      display: flex;
      flex-direction: column;
      gap:1px;
}
.search__user-preferences{
      display: flex;
      justify-content: space-evenly;
}
.search__user-preferences-item{
      font-size:0.8rem;
      font-weight: 700;
      border :1px solid rgba(0, 0, 0, 0.1);
      padding: 4px 8px;
      margin-right:10px;
}